{% extends 'layout/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section class="histoire_entreprise">
        <h1>Histoire de l'entreprise</h1>
        <p>
            L’entreprise TEISSIER construction a été créée le 16 mai 2014, situé au 6 CHE DE TRANSIDE ET CABRIE,
            34820 TEYRAN. <br>
            Elle est gérée par Monsieur Lary et Kévin TEISSIER. Elle compte quatre salariés maçons dont les deux
            gérants. <br>
            Monsieur Lary TEISSIER a fait l’école des compagnons du devoir à Nîmes, et a travaillé comme salarié
            pour un patron où il a continué d’apprendre le métier. <br>

            Puis, il a décidé de se mettre en auto-entrepreneur pendant quelques années où il a pu faire sa clientèle
            et continuer d’évoluer. <br>

            Monsieur Lary TEISSIER a fini par proposer à son frère jumeau de monter une entreprise dans la maçonnerie et
            ont donc fondé l’entreprise SARL TEISSIER Construction.

        </p>
    </section>

    <hr>
    <br>

    <h2>Contactez-nous :</h2>

    <div class="contact_direct">

        <div>


        <a href="tel:+33711223344">
            <img src={{ asset('media/images/téléphone.png') }}>
        </a>
        </div>

        <div>

{#        Faire en sorte que le mail ne soit pas lisible en clair#}
        <a href="mailto:votreadresse@mail.fr">
            <img src={{ asset('media/images/email_envelope_icon_148215.png') }}>
        </a>
        </div>

    </div>

    <br>

    <hr>

{#    <div class="avis_client">#}
{#        <h2>Les avis laissés par nos clients :</h2>#}
{#        {% if avisClients is empty %}#}
{#            <p>Il n'y a pas d'avis déposé pour le moment.</p>#}
{#        {% else %}#}
{#            <ul>#}
{#                {% for avisClient in avisClients %}#}
{#                    <li>Date de publication : {{ avisClients.date_publication }}</li>#}
{#                    <li>Commentaire : {{ avisClients.commentaire }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{#    </div>#}

    <hr>

    <div>
        <iframe src="https://www.google.com/maps/d/embed?mid=1ZKRNIxCRWNgXe_d8Wr9E7hxTsYmFxL4&ehbc=2E312F"
                width="100%" height="480"></iframe>
    </div>


{% endblock %}
