{% block footer %}
    <footer role="contentinfo">

        <h3>Infos pratiques</h3>
            <section class="infospratique">



                <address>
                    <ul>
                        <li>06 26 95 37 86</li>
                        <li>6 chemin de transide et cabrie</li>
                        <li>34820 TEYRAN</li>
                        <li>Lundi - Vendredi</li>
                        <li>08:00 - 18:00</li>
                    </ul>
                </address>

                <div>
                <ul>
                    <li><a href="/">Plan du site</a></li>
                    <li><a href="../template/pagecookies.php">Cookies</a></li>
                    <li><a href="/">Conditions générales</a></li>
                    <li><a href="/{{ path('app_mentions_legales') }}">Mentions légales</a></li>
                </ul>
                </div>



            </section>

        <p>Copyright © <?php echo date("Y"); ?> TEISSIER Construction</p>

    </footer>
{% endblock %}
