{% extends 'layout/base.html.twig' %}

<title>Nos prestations</title>

{% block body %}

<section class="caroussel">

<div class="carousel">
        <figure>
            <img src="/assets/images/prestations/maçonneriegénérale.jpg" alt="maçonneriegénérale">
            <img src="/assets/images/prestations/grosoeuvre.jpg" alt="grosoeuvre">
            <img src="/assets/images/prestations/travaux-de-renovation-avant-et-apres.jpg" alt="travaux-de-renovation-avant-et-apres">
            <img src="/assets/images/prestations/couverturetoiture.jpg" alt="couverturetoiture">
            <img src="/assets/images/prestations/construction-dune-piscine-desjoyaux.jpg" alt="construction-dune-piscine-desjoyaux">
        </figure>
        <nav>
            <button class="nav_prev">Prev</button>
            <button class="nav_next">Next</button>
        </nav>
    </div>

</section>

{% endblock %}
