{% extends 'layout/base.html.twig' %}

{% block title %}Nos réalisations{% endblock %}

{% block body %}

    <h1>Voici quelques une de nos réalisations :</h1>

    <section class="caroussel">

        <div class="carousel-container">
            <div class="carousel-slide">
                <img src={{ asset('media/images/realisations/attachment1683192326902.jpg') }} alt="image1">
            </div>
            <div class="carousel-slide">
                <img src={{ asset('media/images/realisations/attachment1683192326929.jpg') }} alt="image2">
            </div>
            <div class="carousel-slide">
                <img src={{ asset('media/images/realisations/attachment1683192326981.jpg') }} alt="image3">
            </div>
            <div class="carousel-slide">
                <img src={{ asset('media/images/realisations/attachment1683192354960.jpg') }} alt="image4">
            </div>
        </div>


    </section>

{% endblock %}
