{% extends 'layout/base.html.twig' %}

{% block title %}Nos réalisations{% endblock %}

{% block body %}

    <h1>Voici quelques une de nos réalisations :</h1>

    <section>
    <div class="container">
        <div class="carousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            
            <ul class="carousel__slides">
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="media\images\realisations\attachment1683192326902.jpg" alt="">
                        </div>
                        <figcaption>
                            
                            <span class="credit">Photo: TEISSIER Lary</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="media\images\realisations\attachment1683192326929.jpg" alt="">
                        </div>
                        <figcaption>
                            
                            <span class="credit">Photo: TEISSIER Lary</span>                            
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="media\images\realisations\attachment1683192354960.jpg" alt="">
                        </div>
                        <figcaption>
                            
                            <span class="credit">Photo: TEISSIER Lary</span>                            
                        </figcaption>
                    </figure>
                </li>
                
            </ul>    
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src="media\images\realisations\attachment1683192326902 - miniature.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-2"><img src="media\images\realisations\attachment1683192326929 - miniature.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-3"><img src="media\images\realisations\attachment1683192354960 - miniature.jpg" alt=""></label>
                </li>
                
            </ul>
        </div>
    </div>
</section>

{% endblock %}
