{% extends 'layout/base.html.twig' %}

<title>Nos réalisations</title>

{% block body %}

<section class="caroussel">
<div class="carousel">
        <figure>
            <img src="/assets/images/Réalisation/attachment1683192326902.jpg" alt="">
            <img src="/assets/images/Réalisation/attachment1683192326981.jpg" alt="">
            <img src="/assets/images/Réalisation/attachment1683192326929.jpg" alt="">
            <img src="/assets/images/Réalisation/attachment1683192354960.jpg" alt="">

        </figure>
        <nav>
            <button class="nav_prev">Prev</button>
            <button class="nav_next">Next</button>
        </nav>
    </div>
</section>

{% endblock %}
